table {
    width: 100%;
}
  th.mat-header-cell {
    font-size: 1em;
    font-weight: bold;
    color: #455565;
}
td {
    color: #455565;
}
tr:nth-child(even) {
    background: #EFF1F6;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
    background: #fff;
}

  